html {
    overflow-x: hidden;
}
html, body {
    height: 100%;
}

body {
    font-family: 'Epilogue', 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: rgb(215,238,247);
    background: linear-gradient(0deg, rgba(215,238,247,1) 0%, rgba(139,183,219,1) 43%, rgba(92,132,164,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mock-header {
    flex: 1 0 auto;
}

.footingMain {
    background-color:#666;
    padding: 0 10%;
    width: 100%;
    flex-shrink: 0;
}

.footingMain .row {
    display: grid;
    grid-template-columns: 25% 25% 25%;
}

footer.footingMain h1{
    font-size:24px;
    color: #fff;    
}

footer.footingMain ul {
    list-style:none;
    text-align:left;
    padding-left:0;
}

footer.footingMain ul li a{
    color:#fff;
    padding:0;
    font-size: 15px;
    line-height: 1.8;
    text-decoration: underline;
    font-weight: 500;
}

.row .footerLogo {
    align-items: center;
    align-content: center;
}

.footerLogo img {
    height: 44px;
}