/*########## Defaults ###############*/
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav, 
header, 
footer { 
    display:block;
  }

body {
    line-height: 1;
    margin:0;
}


p {
    font-family:'Montserrat', serif; 
}

h1, h2, h3, h4, a, p, li{
    font-family:'Montserrat', serif; 
}


article p{
    font-size:20px;
    padding: 0px; /*we don't a margin, use padding. a margin would try to force space onto the adjacent column.*/
}

.container {
    width: 100%;  /*ensure that the content fills up the entire page */
    margin: auto; /*even distribution of space on the left and right side, keeping everything centered */
      
}

.row {
    width:100%;
    display:flex; /* latches onto all elements inside that have flex on it */
    flex-wrap:wrap; /* as everything is flexing and getting smaller, wrap it all around underneath (only works when we have display flex)*/
    align-items: center; /* takes all items in flex container and centers the content*/
    
}

.row::after{
    display:table; /* allows us to setup clear settings*/
    clear:both; /* clears any floats to the right or the left*/
    content: "";
    
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


* {/*universal selector*/  
    box-sizing: border-box; /*removes the feature that additional padding and margin increases the size of an object*/
}
/*############# End Defaults ###########*/

/*######## Hero section for index ########*/
div.hero{
    height:96vh;
    position:relative;
    background-blend-mode:multiply;
    mix-blend-mode:multiply;
    color:black;
}

div.hero img{
    width:100%;
    height:100%;
    object-fit:cover;
    position:absolute;
    top:0;
    left:0;
}

div.hero .heroText{
    z-index:999;
    position:absolute;
    margin:4% 0 0 10%;
}

div.hero .heroText h1{
    font-weight:700;
    font-size:40px;
}

div.hero .heroText p{
    font-size:15px;
    padding-right:0;
    padding-left:0;
}
/*########### End Hero#################*/

/*########### Resources Index ########*/
div.resources{
    height:auto;
    background-color:rgba(123, 153, 163, 0.31);
    padding-top:20px;
    padding-bottom:40px;
    text-align:center;
    margin:auto;
}

div.gridWrapper{
    margin:0 5%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-gap:5%;
    justify-items:center;
}
div.gridWrapper a{
    transition-duration:0.2s;
    text-decoration:none;
    color:inherit;
    background-color:white;
}

div.gridWrapper a:hover{
    background-color:#fcf1d7;
    box-shadow:inset 0 0 60px #c7bea9;
}

div.cardBox{
    mix-blend-mode:multiply;
    height:100%;
    text-decoration: none;
    background-color:white;
    border-radius:2px;
    box-shadow:4px 4px 6px #aebfbd, -1px -1px 3px #aebfbd;
}

div.cardBox img{
    width:100%;
}

div.cardBox p{
    font-size:1em;
    margin:0;
    padding:5% 0;
}

/*########### About Us Section #######*/
div.aboutSection{
    background-color:#e1e7e6;
    margin:0;
    padding:4vh 4vh;
    width:100%;
}

div.aboutSection h2{
    padding-left:7%;
}

div.aboutSection img{
    height:auto;
    width:75%;
}

div.aboutSection p{
    font-size:1.2em;
    text-align:left;
    line-height:1em;
    color:#333;
    letter-spacing:0.01em;
}

div.aboutSection .row .col-6:nth-child(1){
    text-align:center;
}

div.aboutSection .row .col-6:nth-child(1) p{
    text-align:center;
}

div.aboutSection .row .col-6:nth-child(2) p{
    padding:1% 15%;
    
}


/*########### Lecture homepage#######*/
div.lectureIntroWrap{
    background-color:#6291a5;
    padding:0;
    margin:0;
    width:100%;
    padding:4% 4% 4% 10%;
    color:white;
}

div.lectureIntroWrap img{
    filter:blur(0.04rem) opacity(0.8);
    border-radius:10px;
    width:85%;
    height:auto;
    text-align:center;
    box-shadow:2px 2px 5px #798a8f;
}

div.lectureIntroWrap p{
    padding-right:20%;
    font-size:20px;
}

div.lectureCardWrap{
    padding:5% 5% 5% 5%;
    background-color:#f1f1f1;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:0.75fr;
    grid-gap:2%;
    text-align:center;
    text-decoration:none;
}

div.lectureCard{
    background-color:#6291a5;
    mix-blend-mode:multiply;
    background-blend-mode:multiply;
    filter:grayscale(80%);
    transition-duration:0.2s;
    box-shadow:5px 5px 10px #dedede;
}

div.lectureCard.orange{
    background-color:#fc9968;
}

div.lectureCard:hover{
    filter:grayscale(0);
}

div.lectureCard a{
    text-decoration: none;
    color:white;
}

div.lectureCard img{
    width:100%;
}

div.lectureCard h4, div.lectureCard p{
    padding:4% 2%;
    margin: 1% 0;
}

/*########### Nav Bar#################*/

.currentLink{
    border-bottom: solid 1px;
}

nav{
    width:100%;
    margin:0; 
    background-color:white;
    display: flex;
}

.topnav{
    margin:auto;
    max-width:1300px;
    max-width:80vw;
    width:100%;
}
nav ul {
    background-color:inherit;
    overflow: hidden; /* any elements too big to fit on screen, hide it. THis reduces the scroll bar */
    margin:0;
    padding:0;
    display:flex;
}


ul.topnav li{
    list-style:none; /*guarantees to remove the bullet points on the navbar list */
    
}

ul.topnav li:nth-child(1){
    margin-right:auto;
    
}


ul.topnav li a{
    display:block;
    font-size:14px;
    text-decoration: none;
    min-height: 20px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: black;
    font-weight:600;
}


ul.topnav li a:hover {
    background-color:#cdf1ed;
    color:#161f2e;
}

ul.topnav li.dropdownIcon {
    display:none;   
}

ul.topnav li:first-child a{
    padding:0;
    margin:0;
    text-decoration:none;
    display:block;
    text-align:center;
    max-height:44px; /*specify height to remove the 2pixel border underneatht he image */
}


ul.topnav li a img{   
    height:44px;
    margin:0;
    padding:0;
    border-style:none;
    border-width:0;
    border:0;
}

/*####### End Nav Bar ########*/

/*########### Lecture Nav Bar#################*/

i{
    border:solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0 2px 0;
}

i:hover{
    border:solid black;
    border-width: 0 3px 3px 0;
}
.downArrow{
    text-align:center;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.upArrow{
    transform: rotate(-135deg);
    -webkit-transform:rotate(-135deg);
}

ul.topnavLecture li.upArrowList{
    margin:auto;
    text-align:center;
}
hr.navline{
    height:1px;
    background-color:white;
    padding:0;
    margin:0;
}

ul.topnavLecture li{
    list-style:none;
    text-decoration:none;
    color:white;
    padding:3px 8px;
}

ul.topnavLecture li a{
    display:block;
    list-style:none;
    text-decoration:none;
    color:white;
}

ul.topnavLecture li:not(:nth-child(1)){
    display:none;
}

ul.topnavLecture li:(:nth-child(1)){
    display:block;
    padding-bottom:3px;
    padding-right:5px;
}

ul.topnavLecture li a:hover{
    background-color:beige;
    color:black;
}

ul.topnavLecture.responsive li{
    display:block;
}

ul.topnavLecture.responsive li.upArrowList{
    display:block;
}

.topnavLectureContainer ul.topnav {
    margin-left: 0px;
}

/* sidebar from w3schools.com */
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
/*    padding: 20px;*/
}

#lectureSidebarCollapsed {
    visibility: visible;
/*    opacity: 0;*/
    transition: visibility 0s, opacity 0.5s linear;
}

/* End sidebar code from w3schools.com */




/*########### End Lecture Nav Bar#################*/



/*########### Start Article #################*/
div.lectureWrap{
    margin:1% auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    max-width:900px;
    background-color:white;
    padding:20px 60px 20px 60px;
}

.lectureWrap img{
    margin:auto;
    display:block;
    max-width:100%;
    max-height: 100%;
    width:auto;
    height:auto;
}

.lectureWrap .imgLink p{
    margin:auto;
    text-align:center;
    margin:inherit;
    padding:inherit;
    font-style:inherit;
    font-size:inherit;
}

div.lectureWrap iframe{
    display:block;
    margin:auto;
}

div.lectureWrap ul li{
    list-style:none;
    font-size:18px;
    padding:10px;
    line-height:1.5em;
}

div.lectureWrap h1{
    font-size:30px;
}

div.lectureWrap p{
    color:#777;
    padding:1em 0;
    line-height:1.5;
    font-weight:600;
    font-size:19px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
}

article.lectureBackground{
    background-color:#dae0e6;
    width:100%;
    margin:0;
    padding:1% 0;
}

div.lectureSkip{
    height:5vh;
}

div.lectureSkip p{
    display:inline;
    color:black;
}

div.lectureSkip a{
    border-radius:9%;
    float:left;
    margin:0;
    padding:0 1%;
    width:auto;
}

div.lectureSkip a:hover{
    background-color:grey;
}
div.lectureSkip a:nth-child(2){
    float:right;
}

.arrow{
    border:solid black;
    border-width:0 3px 3px 0;
    display:inline-block;
    padding:3px;
}
.rightArrow{
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg):
}

.leftArrow{
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg):
}
/*########### End Article#################*/

/*##### Contribute Section ########*/
section.contributeWrapper{
    text-align:center;
    padding: 20px 20px 20px 20px;
}

/*
section.contributeWrapper p{
    width:50%;
    margin:5px auto;
    text-align:left;
    padding:0;
}
*/

.teal{
    background-color:rgba(123, 153, 163, 0.31);
}

.lightblue{
    background-color:#e1e7e6;
}

.internsHeading {
    width: 100%;
    padding: 0 8%;
}

.internsContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.contributorContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contributorItem.pmPeople {
    margin: 75px 25px;
}

.contributorItem {
    margin: 0 25px 75px 25px;
}

.contributorItem:hover > .contributorText h2 {
    text-decoration: underline wavy #6291a5;
}

.contributorItem div{
    text-align: center;
    margin: auto;
}

.mainPeople {
/*    width: 55%;*/
    text-align: center;
    margin: auto;
}

.otherPeople {
/*    width: 60%;*/
    text-align: center;
    margin: auto;
}

.pmPeople {
/*    width: 15%;*/
    text-align: center;
    margin: auto;
}

.internsContainer .contributorContainer.pmPeople {
    flex: 0 0 20%;
}

.internsContainer .contributorContainer.otherPeople {
    flex: 0 0 75%;
}

.mainPeople .contributorItem {
    flex: 0 0 33.33%;
}

.otherPeople .contributorItem{
    flex: 0 0 20%;
}

.pmPeople .contributorItem{
    flex: 0 0 90%;
}

.section-2 div.contributorItem {
    margin-top: 75px;
}

div.contributorHeadshot {
    width: 200px;
    height: 200px;
    mix-blend-mode:multiply;
    background-blend-mode:multiply;
    filter:grayscale(90%);
    transition-duration:0.2s;
}

.contributorItem:hover > div.contributorHeadshot {
    filter:grayscale(20%);
}

.contributorHeadshot img {
    width: 100%;
    border-radius: 50%;
}

.contributeTitle h1 {
    font-size: 48px;
    text-decoration: underline #fc9968;
}

.contributorHeading {
    flex: 0 0 100%;
/*    margin-bottom: 20px;*/
    text-decoration: underline wavy #fc9968;
    text-align: left;
    font-size: 18px;
}

.contributorBlurb {
    text-align: left;
    margin-bottom: 50px;
}

.contributorName {
    text-decoration: underline #6291a5;
    line-height: 30px;
}

.contributorText p {
    text-align: justify;
    font-size: 14px;
}

.contributorText h4 {
    text-align: center;
    font-size: 14px;
    margin: 0;
}

div.contributorLinks {
    margin-top: 10px;
}

.contributorLinks a {
    text-align: center;
    color: black;
    text-decoration: underline black;
    font-size: 12px;
    font-weight: bold;
/*    margin-top: 100px;*/
    margin: 0 2px;
}

.contributorLinks a:active,
.contributorLinks a:link,
.contributorLinks a:visited,
.contributorLinks a:hover {
    color: black;
}

.contributorLinks img {
    width: 20px;
    /* 50px is pixel perfect size */
    /* change size of icon in CSS to preserve quality */
}

.contributorName img {
    width: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.section-2 {
/*    align-items: center;*/
/*    margin: xauto 20%;*/
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 0 25px;
}

.section-2 div{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-2 .contributorItem .contributorText {
    display: flex;
    flex-direction: column;
}

.section-2 .contributorItem div.contributorHeadshot {
    flex: 0 0 20%;
    margin: 0;
    width: 200px;
    height: 200px;
}

.section-2 .contributorItem .contributorHeadshot img {
    width: 200px;
    height: 200px;
}

.section-2 .contributorItem div.contributorText {
    flex: 0 0 25%;
    margin: 0;
}

.section-2 .contributorItem .contributorText h2, 
.section-2 .contributorItem .contributorText h4 {
    text-align: left;
}

/*####### Custom style ########*/

article.aboutSection {
    padding:15px;
}

#section-1-gradient {
    background: white; /*default color for browsers not supporting gradients */
    /*background: -webkit-linear-gradient(#C0B283,white); safar*/
    /*background: linear-gradient(#6D7993,white  ); typical*/
    /*background: -o-linear-gradient(#ffc61a,white ); opera*/
}

div.leftSide-col {
    margin-left: 30%; /* better to use a percentage than exact pixels because we have flex*/    
}

div.leftSide-col img{
    mix-blend-mode:multiply;
}
div.rightSide-col {
    margin-left: 15%; /* better to use a percentage than exact pixels because we have flex*/
    
}
h1.large{ /* header tag has margins around it, paragrag and labels do not*/
    color:BLACK;
    font-size:45px;
    margin:0;
    line-height:60px; /* creates space between the text, better to do this than using margin with text*/
}

h1.section2Header{
    font-size: 65px;
    text-align:center;
}

form h2{
    color:grey;
    
}

button.journey{
    display:block;
    margin:auto;
}
.container.bottom{
    background-color:#96858f;
}
div.groupPhoto img{
    max-width:100%;
    max-height: 100%;
    width:auto;
    height:auto;
    display:block;
    margin:auto;
    padding:0 5px;
}

div.groupPhoto p{
    font-size:16px;
    text-align:center;
}

footer.footingMain{
    background-color:#666;
    padding-left:10%;
}

footer.footingMain h1{
    font-size:15px;
    color: #fff;    
}

footer.footingMain ul{
    list-style:none;
    text-align:left;
    padding-left:0;
}

footer.footingMain ul li{
    color:#fff;
    padding:0;
    font-size: 15px;
    line-height:1.2;
}

.videoContainer iframe{
width:100%;
max-width:560px;
height:315px;
margin:auto;
padding-right:10px;
;

}

/*####### Practice Questions #########*/
section.practiceQuestionBody{
    background-color:#dae0e6;
    padding-top:1%;
}

section.practiceQuestionBody h1{
    text-align:center;
}

div.questionBoxWrapper{
}
div.questionBox{
    background-color:white;
    text-align:center;
    margin:10px auto;
    max-width:700px;
    box-shadow: 4px 4px 13px -1px rgba(214,210,214,1);
    padding: 10px;
}

div.questionBox p{
    font-size:18px;
    text-align:left;
}

div.questionBox h1{
    text-align:left;
    font-size:20px;
}

div.questionBox ul{
    padding:0;
    margin:0;
}

div.questionBox ul li{
    list-style:none;
    background-color:white;
    border-radius:5px;
    margin:15px 0;
    text-align:left;
    padding:0 5px 0 0;
    line-height:20px;
}

div.questionBox ul li a:hover{
    background-color:#bef5f7;
}

div.questionBox ul li a{
    border-radius:4px;
    text-decoration:none;
    color:black;
    background-Color:aqua;
    width:100%;
    padding:3px;
    
    box-shadow: 2px 2px 2px -1px rgba(214,210,214,1), -1px -1px 2px -1px rgba(214,210,214,1);
    
}

.questionSolutionButton{
    font-size:15px;
    border-style:solid;
    border-width:0 0 1px 0;
    border-color:grey;
    border-radius:2px;
    margin:0;
    padding:0;
    display:block;
    cursor:pointer;
    width:100%
}

.questionSolutionButton:hover{
    background-color:aliceblue;
}

.questionSolution{
    display:none;
    font-size:15px;
}

.questionSolution.visible{
    display:block;
}
/*####### End Practice Questions #########*/


/*####### Mobile #########*/

/*
 @media screen and (max-width: 1200px){
    
    
        .col-4, .col-7, .col-5{
        width:100%;
        margin:0; good practice to ensure the margin for a full desktop version doesn't get passed down to mobile
}
    
    .col-6.introBanner{
        width:100%;
        margin:0;
        text-align:center;
    }
    
    .videoContainer{
        text-align:center;
        margin:20px;
    }
    
    div.box{
        text-align:center;
        height:auto;
        margin:20px 10%;
        max-width:700px;
    }
    h1.large{
        text-align:center;
    }
    
}


ul.topnavLecture.responsive li{
    display:block;
}
*/

@media screen and (max-width:1100px){
    div.hero{
        height:65vh;
    }
    
    div.hero div.heroText {
        margin-left:2%;
    }
    
    div.hero div.heroText h1{
        font-size:5em;
    }
    
    div.hero div.heroText p{
        font-size:1.5em;
    }
    
    .topnav{
        max-width:1300px;
    }
}


@media screen and (max-width:1000px){
    div.hero{
        height:60vh;
    }
    
    div.hero img{
        height:100%;
        width:100%; 
    }
    
    /*div.leftSide-col {
    margin:auto; 
    padding-left:20px;
    }*/
    
    
}

@media screen and (max-width: 760px) { /*680 previously */

ul.topnav{
    width:100%;
}
ul.topnav li:not(:nth-child(1)){
        display:none;
    }
ul.topnav li a{
    min-height:40px;
    font-size:18px;
}

ul.topnav li:first-child a:hover{
        background-color:inherit;
    }   
    
ul.topnav li:first-child a{
    max-height:40px; /*specify height to remove the 2pixel border underneatht he image*/
}
    
    ul.topnav li::after{
        clear:both;
    }

ul.topnav li a img{
    height:40px
    }
    
ul.topnav li.dropdownIcon {
    display: block;
    float: right;
}

ul.topnav.responsive li.dropdownIcon { 
    position: absolute;
    top: 0;
    right: 0;.
}

ul.topnav.responsive {
    flex:none;
    display:block;
    position: relative;
}

ul.topnav.responsive li {
    flex:none;
    display:block; /*forces it to be in a row */
    float:none;
    
}
    
 ul.topnav.responsive li:nth-child(1){
        display:block;
    }
    
ul.topnav.responsive li a {
    flex:none;
    margin:auto;
    text-align:center;
}

ul.topnav.responsive li a.logo {
    text-align:left;
}    
    
    div.resources{
        height:auto;
        padding:2% 0 30% 0;
    }
div.hero{
        height:50vh;
    }
    
    div.hero img{
        height:100%;
        width:100%;        
    }
    
    div.hero div.heroText h1{
        font-size:2em;
    }
    
    div.hero div.heroText p{
        font-size:1em;
        padding-right:30%;
    }
    
    div.gridWrapper{
        grid-template-columns:auto;
    grid-template-rows:auto;
    grid-gap:5%;
    justify-items:center;
    }
    
    div.aboutSection{
    text-align:center;
    margin:0;
    padding:2%;
    width:100%;
}

div.aboutSection h2{
    padding:1em 0;
    margin:0;
}

div.aboutSection img{
    height:auto;
    width:100%;
}
    
    div.aboutSection .row .col-6:nth-child(2) p{
        padding: 2% 0;
        margin:0;
    }
    
div.lectureIntroWrap{
   padding:4% 2%;
    margin:auto;
    text-align:center;
    
}
    
    div.lectureIntroWrap .row .col-6 p{
        text-align:left;
        padding:0;
    }
    
div.lectureCardWrap{
    padding:5%;
    grid-template-columns:1fr;
    grid-template-rows:;
    grid-gap:2%;
    margin-bottom:10px;
}

    div.lectureCard a img{
        background-color:white;
        width:100%;
        padding:0 20%;
    }
    
    div.lectureCard{
        filter:grayscale(0);
    }
    
    div.lectureCard:nth-child(n){
        margin-bottom:15px;
    }
    div.lectureCard h4,p{
        padding:0;
    }
    
    div.lectureWrap{
        padding:2% 2%;
    }
    
    div.lectureWrap h1,h2,h3,h4{
        text-align:center;
    }
    div.lectureWrap p{
        padding:5% 3%;
        font-size:18px;
        font-weight:500;
    }
    
    section.contributeWrapper p{
    width:90%;
}
    section.contributeWrapper iframe{
        width:100%;
        height:75vh;
    }
    
    section.contributeWrapper{
        padding-bottom:10%;
    }
    
    .col-6, .col-4, .col-7, .col-5{
        width:100%;
        margin:0; 
}
    
    div.mobileStack{
        width: 50%;
        display:block;
    }
    
    div.box {
        padding: 2px; /*reduce padding when we're on mobile*/
        display:block: /*make sure the boxes stack*/
    }

div.leftSide-col,
div.rightSide-col{
        
        margin: 8px; /*for mobile, put small amount of margin around all elements*/
    text-align:center;
    }
    
    input[type="text"] {
        width:350px;
        
    }
    .videoContainer{
        margin:auto;
    }
    
.videoContainer iframe{ /*specifying iframe adjust the video itself, not just the div tag*/
   position:relative; /*need the mobile view to make it stay in the same spot, don't want ability to scroll sideways in mobile*/
    width:100%;
    margin:0; /*removers any extra margin created by the browser*/
    overflow:hidden; /*some browsers puit a scroll bar, we don't want that, just hide the content instead*/
    padding:0;
}
    
    h1.section2Header{
        font-size:50px;
    }
    
    article p{
        font-size:20px;
    }
    
    div.groupPhoto{
        text-align:center;
    }
    
    div.groupPhoto img{
        max-height:100%;
        max-width:100%;
        width:auto;
        height:auto;
        margin:auto; 
    }
    
    div.leftSide-col img{
        width:100%;
        height:auto;
    }
    
    h1.large{
        text-align:center;
        font-size:30px;
        line-height:34px;
        padding:3px
    }
    
    div.box{
        text-align:center;
        height:auto;
        margin:5px 2%;
        max-width:700px;
    }
    
    div.questionBox{
        margin: auto;
    }
    div.questionBoxWrapper{
        margin:auto;
        padding:10px;
        text-align:center;
    }
} /* end of media query*/

















