/*########## Defaults ###############*/
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav, header, footer { 
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

p, a, li {
    font-family: 'PT Serif', serif;
}
h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

article p{
    font-size:20px;
    padding: 0px; /*we don't a margin, use padding. a margin would try to force space onto the adjacent column.*/
}

.container {
    width: 100%;  /*ensure that the content fills up the entire page */
    margin: auto; /*even distribution of space on the left and right side, keeping everything centered */
}

.row {
    width:100%;
    display:flex; /* latches onto all elements inside that have flex on it */
    flex-wrap:wrap; /* as everything is flexing and getting smaller, wrap it all around underneath (only works when we have display flex)*/
    align-items: center; /* takes all items in flex container and centers the content*/
}

.row::after{
    display:table; /* allows us to setup clear settings*/
    clear:both; /* clears any floats to the right or the left*/
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


* {/*universal selector*/  
    box-sizing: border-box; /*removes the feature that additional padding and margin increases the size of an object*/
}
/*############# End Defaults ###########*/


/*########### Nav Bar#################*/

.currentLink{
    border-bottom: solid 1px;
}

nav.topnav
    width:100%;
    margin:0; 
    background-color:white;
    display: flex;
}

.topnav{
    margin:auto;
    max-width:1300px;
    max-width:80vw;
    width:100%;
}
.topnav a {
    font-family: 'Montserrat', sans-serif;
}
nav ul {
    background-color:inherit;
    overflow: hidden; /* any elements too big to fit on screen, hide it. THis reduces the scroll bar */
    margin:0;
    padding:0;
    display:flex;
}

ul.topnav li{
    list-style:none; /*guarantees to remove the bullet points on the navbar list */
}

ul.topnav li:nth-child(1){
    margin-right:auto;
}

ul.topnav li a{
    display:block;
    font-size:14px;
    text-decoration: none;
    min-height: 20px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: black;
    font-weight:600;
}

ul.topnav li a:hover {
    background-color:#cdf1ed;
    color:#161f2e;
}


ul.topnav li:first-child a{
    padding:0;
    margin:0;
    text-decoration:none;
    display:block;
    text-align:center;
    max-height:44px; /*specify height to remove the 2pixel border underneatht he image */
}

ul.topnav li a img{   
    height:44px;
    margin:0;
    padding:0;
    border-style:none;
    border-width:0;
    border:0;
}

/*####### End Nav Bar ########*/



/*####### Custom style ########*/

article.aboutSection {
    padding:15px;
}

#section-1-gradient {
    background: white; /*default color for browsers not supporting gradients */
    /*background: -webkit-linear-gradient(#C0B283,white); safar*/
    /*background: linear-gradient(#6D7993,white  ); typical*/
    /*background: -o-linear-gradient(#ffc61a,white ); opera*/
}

div.leftSide-col {
    margin-left: 30%; /* better to use a percentage than exact pixels because we have flex*/    
}

div.leftSide-col img{
    mix-blend-mode:multiply;
}
div.rightSide-col {
    margin-left: 15%; /* better to use a percentage than exact pixels because we have flex*/
    
}
h1.large{ /* header tag has margins around it, paragrag and labels do not*/
    color:BLACK;
    font-size:45px;
    margin:0;
    line-height:60px; /* creates space between the text, better to do this than using margin with text*/
}

h1.section2Header{
    font-size: 65px;
    text-align:center;
}

form h2{
    color:grey;
    
}

button.journey{
    display:block;
    margin:auto;
}
.container.bottom{
    background-color:#96858f;
}
div.groupPhoto img{
    max-width:100%;
    max-height: 100%;
    width:auto;
    height:auto;
    display:block;
    margin:auto;
    padding:0 5px;
}

div.groupPhoto p{
    font-size:16px;
    text-align:center;
}

.videoContainer iframe{
    width:100%;
    max-width:560px;
    height:315px;
    margin:auto;
    padding-right:10px;
}

/*####### Mobile #########*/

@media screen and (max-width:1200px){
    div.hero{
        height:65vh;
    }
    div.hero div.heroText {
        margin-left:2%;
    }
    div.hero div.heroText h1{
        font-size:5em;
    }
    div.hero div.heroText p{
        font-size:1.5em;
    }
    .menu-nav{
        max-width:1300px;
    }
}

@media screen and (max-width:1000px){
    div.hero{
        height:60vh;
    }
    div.hero img{
        height:100%;
        width:100%;
    }
}

@media screen and (max-width: 760px) { /*680 previously */
/*
    div.resources{
        height:auto;
        padding:2% 0 30% 0;
    }
    div.hero{
        height:50vh;
    }
    
    div.hero img{
        height:100%;
        width:100%;        
    }
    
    div.hero div.heroText h1{
        font-size:2em;
    }
    
    div.hero div.heroText p{
        font-size:1em;
        padding-right:30%;
    }*/
    
    div.gridWrapper{
        grid-template-columns:auto;
        grid-template-rows:auto;
        grid-gap:5%;
        justify-items:center;
    }
    
    div.aboutSection{
        text-align:center;
        margin:0;
        padding:2%;
        width:100%;
    }

    div.aboutSection h2{
        padding:1em 0;
        margin:0;
    }

    div.aboutSection img{
        height:auto;
        width:100%;
    }
    
    div.aboutSection .row .col-6:nth-child(2) p{
        padding: 2% 0;
        margin:0;
    }
    
    div.lectureIntroWrap{
        padding:4% 2%;
        margin:auto;
        text-align:center;
    }
    
    div.lectureIntroWrap .row .col-6 p{
        text-align:left;
        padding:0;
    }
    
    div.lectureCardWrap{
        padding:5%;
        grid-template-columns:1fr;
        grid-template-rows:;
        grid-gap:2%;
        margin-bottom:10px;
    }

    div.lectureCard a img{
        background-color:white;
        width:100%;
        padding:0 20%;
    }
    
    div.lectureCard{
        filter:grayscale(0);
    }
    
    div.lectureCard:nth-child(n){
        margin-bottom:15px;
    }
    div.lectureCard h4,p{
        padding:0;
    }
    
    div.lectureWrap{
        padding:2% 2%;
    }
    
    div.lectureWrap h1,h2,h3,h4{
        text-align:center;
    }
    div.lectureWrap p{
        padding:5% 3%;
        font-size:18px;
        font-weight:500;
    }
    
    section.contributeWrapper p{
        width:90%;
    }
    section.contributeWrapper iframe{
        width:100%;
        height:75vh;
    }
    
    section.contributeWrapper{
        padding-bottom:10%;
    }
    
    .col-6, .col-4, .col-7, .col-5{
        width:100%;
        margin:0; 
    }
    
    div.mobileStack{
        width: 50%;
        display:block;
    }
    
    div.box {
        padding: 2px; /*reduce padding when we're on mobile*/
        display:block: /*make sure the boxes stack*/
    }

    div.leftSide-col,
    div.rightSide-col{ 
        margin: 8px; /*for mobile, put small amount of margin around all elements*/
        text-align:center;
    }
    
    input[type="text"] {
        width:350px;
    }
    .videoContainer{
        margin:auto;
    }
    
    .videoContainer iframe{ /*specifying iframe adjust the video itself, not just the div tag*/
        position:relative; /*need the mobile view to make it stay in the same spot, don't want ability to scroll sideways in mobile*/
        width:100%;
        margin:0; /*removers any extra margin created by the browser*/
        overflow:hidden; /*some browsers puit a scroll bar, we don't want that, just hide the content instead*/
        padding:0;
    }
    
    h1.section2Header{
        font-size:50px;
    }
    
    article p{
        font-size:20px;
    }
    
    div.groupPhoto{
        text-align:center;
    }
    
    div.groupPhoto img{
        max-height:100%;
        max-width:100%;
        width:auto;
        height:auto;
        margin:auto; 
    }
    
    div.leftSide-col img{
        width:100%;
        height:auto;
    }
    
    h1.large{
        text-align:center;
        font-size:30px;
        line-height:34px;
        padding:3px
    }
    
    div.box{
        text-align:center;
        height:auto;
        margin:5px 2%;
        max-width:700px;
    }
    
    div.questionBox{
        margin: auto;
    }
    div.questionBoxWrapper{
        margin:auto;
        padding:10px;
        text-align:center;
    }
} /* end of media query*/


/* NAV BAR */
.top-nav-container {
    margin: 5px 40px;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    justify-content: space-between;
/*    height:8vh;*/
}
.home-logo img {
    max-height: 60px;
}
ul.menu-nav a:link,
ul.menu-nav a:visited {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}
ul.menu-nav .menu-item a:hover {
    text-decoration: underline;
}
ul.menu-nav {
    padding: 0;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
}
ul.menu-nav .menu-item{
    display: inline-block;
    padding: 0 12px;
}
ul.menu-nav {
    list-style: disc;
}
.dropdownIcon {
    display: none;
    font-size: 24px;
    font-weight: bold;
}
@media screen and (max-width: 899px) {
    .top-nav-container {
        display: block;
    }
    .home-logo {
        text-align: center;
        margin: 0 auto;
    }
    ul.menu-nav .dropdownIcon {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
    }
    ul.menu-nav .menu-item {
        display: none;
    }
    ul.menu-nav.responsive {
        display: flex;
        flex-direction: column;
        background: rgba(255,255,255,0.99);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px;
        width: 100vw;
        margin-left: -40px;
    }
    ul.menu-nav.responsive .menu-item {
        display: block;
        margin: 5px;
    }
    ul.menu-nav.responsive .menu-item a {
        font-size: 18px;
        line-height: 30px;
    }
}

/* ###### FOOTER ###### */
footer.footingMain{
    background-color: rgb(20,33,64);
    padding: 20px 10%;
    text-align: center;
    color: #fff;
}
footer.footingMain .footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-row .mobileStack {
    min-width: 200px;
    min-height: 200px;
}
footer.footingMain ul{
    list-style:none;
    text-align:left;
    padding-left:0;
}
footer.footingMain li{    
    text-align: center;
}
footer.footingMain ul li a{
    text-align: center;
    color:#fff;
    font-size: 18px;
    line-height: 1.8;
    text-decoration: underline;
    font-weight: 500;
}
footer.footingMain h1{
    font-size: 36px;
}
.copyright {
    margin-top: 40px;
    font-size: 12px;
}
.footerLogo svg {
    margin: 0 10px;
}
@media screen and (max-width: 899px) {
    footer.footingMain .footer-row {
        flex-direction: column;
    }
    .footer-row .mobileStack {
        min-width: 100%;
        min-height: auto;
        margin-bottom: 20px;
    }
    h1.row-heading {
        margin: 0;
    }
    .footerLogo h1 {
        margin-bottom: 20px;
    }
    .footerLogo a {
        margin-bottom: 20px;
    }
    .footerLogo {
        padding: 10px 0 20px;
    }
    .copyright {
        margin-top: 20px;
    }
}