/*##### Contribute Section ########*/
section.contributeWrapper{
    text-align:center;
    padding: 20px 120px;
}
.contributorHeadshot img {
    width: 100%;
    border-radius: 50%;
}
.contributeWrapper p, .contributeWrapper a {
    font-family: 'Lato', sans-serif;
    line-height: 1.15;
}
.contributeWrapper h1, .contributeWrapper h2, .contributeWrapper h3, .contributeWrapper h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.contributeTitle h1 {
    font-size: 72px;
}
.container-description h2 {
    font-size: 36px;
    margin-top: 0;
    text-decoration: underline 3px #7ca4c2;
}
.container-description p {
    font-size: 16px;
    text-align: justify;
    text-align-last: center;
/*    color: #505457;*/
    color: #76818a;
    font-weight: 400;
}
.contributorName {
/*    text-decoration: underline #6291a5;*/
    text-decoration: underline 3px #7ca4c2;
    font-size: 28px;
/*    line-height: 30px;*/
    margin-bottom: 0.5rem;
    margin: 0.75rem auto 0.5rem;
}
.contributorText h4 {
/*    text-align: center;*/
    font-size: 16px;
    margin: 0;
}
.contributor-item-bio {
    text-align: justify;
/*    text-indent: 1.5em;*/
    font-size: 18px;
    font-weight: 300;
}
div.contributorLinks {
    margin-top: 10px;
}
.contributorLinks a {
    text-align: center;
    color: black;
    text-decoration: underline black;
    font-size: 12px;
    font-weight: 600;
    margin: 0 2px;
}
.contributorLinks a:active,
.contributorLinks a:link,
.contributorLinks a:visited,
.contributorLinks a:hover {
    color: black;
}
div.contributorHeadshot {
    width: 150px;
    height: 150px;
}
.contributorLinks img {
    width: 20px;
    /* 50px is pixel perfect size */
    /* change size of icon in CSS to preserve quality */
}
.contributorName img {
    width: 20px;
    vertical-align: middle;
    margin-left: 10px;
}
.contributor-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}
.contributor-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 80px;
}
/*
.contributor-container.pm {
    flex: 0 0 30%;
    padding: 20px;
}
*/
.contributor-container.interns {
/*    background: #e1e5e8;*/
/*    background: #e8ebed;*/
/*    background: #f0f1f2;*/
    display: flex;
    flex: 0 0 100%;
}
.contributor-container.engineers {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}
.contributor-item.type-3 {
    flex: 0 0 45%;
}
.container-description {
    margin: auto;
    max-width: 90%;
}
.contributor-item {
    display: flex;
    margin: 20px auto 20px;
    justify-content: space-evenly;
    padding: 40px;
    background: #f0f1f2;
}
.contributor-item.type-1 {
    flex-direction: column;
}
.contributor-item.type-2 {
    flex-direction: row;
    align-items: center;
}
.type-2 > .contributor-item-info {
    flex: 0 0 20%;
}
.type-2 > .contributor-item-bio {
    flex: 0 0 70%;
}
.type-3 > .contributor-item-info {
    flex: 0 0 25%;
}
.type-3 > .contributor-item-bio {
    flex: 0 0 65%;
}
.contributor-item-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
/*.contributor-item-info h2,*/
.contributor-item.placeholder {
    color: #666;
}
@media screen and (max-width: 430px) {
    section.contributeWrapper {
        padding: 20px 0%;
        margin: 0;
    }
    .contributeTitle h1 {
        font-size: 32px;
        margin-bottom: 0;
    }
    .contributor-container {
        padding: 0 20px;
    }
    .contributor-item-bio p {
        font-size: 12px;
    }
    .container-description h2 {
        font-size: 32px;
    }
    .container-description p {
        font-size: 14px;
    }
}
@media screen and (min-width: 431px) and (max-width: 899px) {
    section.contributeWrapper {
        padding: 20px 0%;
/*        margin: 0;*/
    }
    .contributor-container {
        padding: 0 30px;
    }
}
@media screen and (max-width: 899px) {
    section.contributeWrapper p {
        width: 100%;
    }
    .contributor-group {
        flex-direction: column;
    }
    .contributor-item.type-2,
    .contributor-item.type-3 {
        flex-direction: column;
        align-items: center;
    }
    .contributor-item.type-3 {
        flex: 0 0 100%;
    }
    .contributor-item-bio {
        text-align: left;
        text-indent: 0;
    }
}
@media screen and (min-width: 900px) {
    .contributor-item:hover > div.contributorHeadshot {
        filter:grayscale(10%);
    }
    .contributor-profile:hover > div.contributorHeadshot {
        filter:grayscale(10%);
    }
    .contributor-item:hover > .contributor-item-info > div.contributorHeadshot {
        filter:grayscale(10%);
    }
    div.contributorHeadshot {
        mix-blend-mode:multiply;
        background-blend-mode:multiply;
        filter:grayscale(95%);
        transition-duration:0.2s;
    }
}
@media screen and (min-width: 900px) and (max-width: 1168px) {
    .contributor-group {
        flex-direction: column;
    }
    .contributor-item.type-1 {
        flex-direction: row;
        align-items: flex-start;
    }
    .contributor-item.type-3 {
        flex: 0 0 100%;
    }
    .type-1 > .contributor-item-info,
    .type-3 > .contributor-item-info {
        flex: 0 0 25%;
    }
    .type-1 > .contributor-item-bio,
    .type-3 > .contributor-item-bio {
        flex: 0 0 70%;
    }
    .contributor-container {
        margin-top: 0;
        margin-bottom: 0;
    }
    .contributor-container.pm, 
    .contributor-container.engineers {
        padding-top: 0;
    }
}
@media screen and (max-width: 1168px) {
    .container-description {
        max-width: 80vw;
    }
}