/*##### Contribute Section ########*/
section.contributeWrapper{
    text-align:center;
    padding: 20px 140px;
}
.contributorHeadshot img {
    width: 100%;
    border-radius: 50%;
}
.contributeWrapper p, .contributeWrapper a {
/*    font-famsily: 'Rubik', sans-serif;*/
    line-height: 1.2;
    font-weight: 400;
}
.contributeTitle {
    padding: 60px;
}
.contributeTitle p {
    text-align: justify;
    text-align-last: center;
}
.container-description h2 {
    margin: 0 auto;
    text-decoration: underline 5px #f0be19;
}
.container-description p {
    text-align: justify;
    text-align-last: center;
    color: #76818a;
}
.contributorName {
    text-decoration: underline 3px #f0be19;
    font-size: 26px;
    margin-bottom: 0.5rem;
    margin: 0.75rem auto 0.5rem;
}
.contributorText h4 {
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}
.contributor-item-bio {
    text-align: justify;
}
.contributor-item-bio p {
    font-size: 16px;
}
div.contributorLinks {
    margin-top: 10px;
}
.contributorLinks a {
    color: black;
    margin: 0 2px;
}
div.contributorHeadshot {
    width: 150px;
    height: 150px;
}
.contributorLinks img {
    width: 20px;
}
.contributorName img {
    width: 20px;
    vertical-align: middle;
    margin-left: 10px;
}
.contributor-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.contributor-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto 60px;
}
.container-description {
    margin: auto;
    max-width: 90%;
}
.contributor-item {
    display: flex;
    margin: 20px auto 20px;
    justify-content: space-evenly;
    padding: 40px;
    background: #f0f1f2;
    flex-direction: row;
    align-items: center;
}
.contributor-item-bio {
    flex: 0 0 70%;
}
.contributor-item-info {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.contributor-item.placeholder {
    color: #666;
}
@media screen and (max-width: 430px) {
    section.contributeWrapper {
        padding: 20px 0%;
        margin: 0;
    }
    .contributeTitle {
        padding: 60px 30px 30px;
    }
    .contributeTitle h1 {
        font-size: 32px;
    }
    .contributor-container {
        padding: 0 20px;
    }
    .container-description h2 {
        font-size: 24px;
    }
    .contributor-item-info h2 {
        font-size: 20px;
    }
    .contributeTitle p, .container-description p, .contributor-item-bio p {
        font-size: 14px;
    }
    .contributor-item-info h4 {
        font-size: 14px;
    }
}
@media screen and (min-width: 431px) and (max-width: 899px) {
    section.contributeWrapper {
        padding: 20px 0%;
    }
    .contributor-container {
        padding: 0 30px;
    }
    .contributeTitle {
        padding: 50px;
    }
}
@media screen and (max-width: 899px) {
    section.contributeWrapper p {
        width: 100%;
    }
    .contributor-group {
        flex-direction: column;
    }
    .contributor-item {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px 20px;
    }
    .contributor-item-info {
        align-items: center;
        align-content: center;
        text-align: center;
    }
}
@media screen and (min-width: 900px) {
    .contributor-item:hover > div.contributorHeadshot {
        filter:grayscale(10%);
    }
    .contributor-profile:hover > div.contributorHeadshot {
        filter:grayscale(10%);
    }
    .contributor-item:hover > .contributor-item-info > div.contributorHeadshot {
        filter:grayscale(10%);
    }
    div.contributorHeadshot {
        mix-blend-mode:multiply;
        background-blend-mode:multiply;
        filter:grayscale(95%);
        transition-duration:0.2s;
    }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
    section.contributeWrapper {
        padding: 20px 80px;
    }
    .contributor-group {
        flex-direction: column;
    }
    .contributor-item {
        flex-direction: row;
        align-items: flex-start;
    }
    .contributor-item.type-3 {
        flex: 0 0 100%;
    }
    .contributor-item-info {
        flex: 0 0 25%;
    }
    .contributor-item-bio {
        flex: 0 0 65%;
    }
    .contributor-container {
        margin-top: 0;
        margin-bottom: 0;
    }
    .contributor-container {
        padding-top: 0;
    }
}
@media screen and (max-width: 1199px) {
    .container-description {
        max-width: 80vw;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1299px) {
    section.contributeWrapper {
        padding: 20px 100px;
    }
    .contributor-group {
        flex-direction: column;
    }
    .contributor-item-info {
        flex: 0 0 30%;
    }
    .contributor-item-bio {
        flex: 0 0 65%;
    }
    .contributor-container {
        margin-top: 0;
        margin-bottom: 0;
    }
    .contributor-container {
        padding-top: 0;
    }
}