.centerText{
    text-align:center;
    align-content:center;
}



.diaphragmWrap{
    height:90vh;
    background-color:#fcf8e8;
}

h3{
    padding:0;
    margin:0;
}
canvas{
    width:100%;
    height:55vh;
    background-color:#e6f6ff;
}

.diaphragmInputWrap{
    background-color:white;
    padding:1%;
    border-top:solid 1px;
}

.diaphragmFormInputs{
    background-color:white;
    display:block;
}

.diaphragmFormOutputs{
    background-color:white;
}

form{
    width:100%;
    display:block;
}

label{
    width:100%;
    display:block;
}

input{
    display:block;
    width:100%;
}
@media screen and (max-width: 899px) {
    
}