.exam-landing-wrapper h1, .exam-landing-wrapper h2, .exam-landing-wrapper h3, .exam-landing-wrapper h4 {
/*    font-family: 'Montserrat', sans-serif;*/
}
.exam-landing-wrapper p, .exam-landing-wrapper a, .exam-landing-wrapper li {
/*    font-family: 'Montserrat', sans-serif;*/
/*    font-size: 18px;*/
}
.exam-landing-wrapper h1 {
    font-size: 48px;
}
.exam-landing-wrapper h2 {
    font-size: 36px;
}
.exam-landing-wrapper h3 {
    font-size: 30px;
}
.exam-landing-wrapper h4 {
    font-size: 24px;
}
.exam-landing-heading {
    text-align: center;
}
.exam-landing-wrapper {
    min-height: calc(100vh - 72px);
    margin: 0 auto;
    padding: 60px 40px;
    width: 100%;
}
.exam-landing-group {
    display: grid;
    grid-template-columns: 46% 46%;
    grid-column-gap: 8%;
    max-width: 800px;
    margin: 0 auto;
}
.exam-landing-option {
    border-radius: 10px;
    border: 1px solid #4266a8;
    text-align: center;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.exam-landing-option p {
    text-align: justify;
    text-align-last: center;
}
.exam-landing-option a {
/*    font-family: 'Montserrat', sans-serif;*/
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.exam-landing-option button {
    cursor: pointer;
    width: 160px;
    height: 40px;
    padding: 7px 8px;
    border-radius: 5px;
    background-color: #4266a8;
    border: none;
}
@media screen and (max-width: 649px) {
    .exam-landing-group {
        grid-template-columns: 100%;
        grid-row-gap: 5%;
    }
    .exam-landing-option {
        height: 300px;
        padding: 20px;
    }
}

.faq-header{
    width:100%;
    margin:0;
    padding:0;
    text-align:center;
}
.faq-wrapper{
    max-width:1000px;
    overflow:hidden;
    margin:auto;
}

.faq-box{
    margin:2% 3%;
    padding:2% 1%;
    overflow:hidden;
    border-top:1px solid #d6ebff;
}


.faq-box h3{
    font-size:1.5rem;
    padding-right:3%;
    width:50%;
    float:left;
}

.faq-box p{
    width:100%;
    line-height:1.5rem;
    display:inline-block;
}

.faq-box p:nth-child(2){
    width:50%;
    float:right;
    
}

.faq-box img{
    max-width:80%;
    text-align:center;
    margin:auto;
    background-blend-mode:multiply;
    mix-blend-mode:multiply;
    
}

@media screen and (max-width: 649px) {
    .faq-box h3{
        font-size:120%;
        font-size:1rem;
        margin-top:3%;
        width:100%;
        float:none;
    }
    
    .faq-box p{
        width:100%;
        float:none;
        display:block;
    }
    
    .faq-box p:nth-child(2){
        width:100%;
    }
}





.center-image{
    text-align:center;
}



