/* START NEW FRONT PAGE */
html.front-page {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body.front-page {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(154,188,213);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(124,164,194,1) 100%);
/*    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(124,164,194,1) 70%);*/
/*    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(133,171,209,1) 100%);*/
    background-repeat: no-repeat;
/*    background-attachment: fixed;*/
    background-attachment: scroll;
    background-size: cover;
}
h1, h2, h3 , p, a, li, button {
    font-family: 'Montserrat', sans-serif;
}
.top-nav-container {
    flex: 1 0 auto;
}

/* START CONTENT */

.main {
    margin: 0;
    padding: 0;
    width: 100%;
}
.hero-content {
    isolation: isolate;
    padding: 10px 100px;
    overflow: hidden;
    width:100%;
    height:92vh;
    position:relative;
    background-blend-mode:normal;
    mix-blend-mode:normal;
    color:black;
}
.hero-items {
    overflow: hidden;
}
.hero-items img {
    margin: 0;
    width:30%;
    height:auto;
    object-fit:cover;
    position:absolute;
    top:10%;
    right:10%;
}
.heroText{
    z-index:999;
    position:absolute;
/*    text-shadow: 1px 1px 5px rgb(124,164,194,1);*/
}
.heroText h1{
    font-weight:700;
    font-size:72px;
    color:white;
}
.heroText p{
    font-size:30px;
    font-weight:500;
    padding:0;
    color:white;
}
@media screen and (min-width: 1001px) {
    .heroText {
        top: 25%;
        left: 10%;
    }
}
@media screen and (min-width: 1001px) and (max-width:1200px) {
    div.hero {
        height: calc(100vh - 62px);
    }
    div.hero div.heroText {
        left: 8%;
    }
    div.hero div.heroText h1{
        font-size: 68px;
    }
    div.hero div.heroText p{
        font-size: 28px;
    }
    .menu-nav{
        max-width: 1300px;
    }
}
@media screen and (min-width: 0px) and (max-width:1000px){
    div.hero {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 10%;
        padding-bottom: 10%;
    }
    div.heroText {
        position: relative;
        text-align: center;
        margin: 20px 20px 40px;
    }
    div.hero-items {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    div.hero-items img{
        width: 80%;
        display: block;
        position: relative;
        top: auto;
        right: auto;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    div.heroText h1 {
        font-size: 64px;
    }
    div.heroText p {
        font-size: 24px;
    }
}
@media screen and (max-width: 550px) {
    div.heroText h1 {
        font-size: 48px;
    }
    div.heroText p {
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    div.heroText h1 {
        font-size: 36px;
    }
    div.heroText p {
        font-size: 14px;
    }
}

/* Onboarding screen */
.onboarding-container {
    background: white;
    text-align: center;
    padding: 80px 20px;
    min-height: 100vh;
}
.yellow-text {
    color: #f7c233;
}
.onboarding-container h2, #onboarding-carousel h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.onboarding-container h3, #onboarding-carousel h3 {
    font-size: 24px;
    font-weight: 600;
}
.onboarding-container p, #onboarding-carousel p {
    font-size: 16px;
    font-weight: 300;
}
.onboarding-header {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.onboarding-group {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.onboarding-item {
    padding: 30px;
}
.onboarding-item img {
    max-width: 80%;
    height: 200px;
}
@media screen and (max-width: 900px) {
    .onboarding-container {
        padding: 40px;
    }   
}
@media screen and (max-width: 869px) {
    .onboarding-container {
        display: none;
    }
    #onboarding-carousel.carousel {
        display: block;
    }
}
@media screen and (max-width: 400px) {
    .carousel-item img {
        max-width: 200px;
    }
}

/* Onboarding Carousel */
#onboarding-carousel {
    background: white;
    display: none;
    padding: 40px 40px 0;
    min-height: 100vh;
    padding: 10%;
}
#onboarding-carousel .onboarding-header {
    margin-bottom: 40px;
}
#onboarding-carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #999;
}
.carousel-indicators .active {
    background-color: #444;
}
.carousel-item img {
    max-height: 200px;
}
.carousel-item {
    text-align: center;
    margin: 0 auto;
    min-height: 400px;
}

/* Front Page start Options */
.start-options-container, .start-options-container.compressed {
    background: rgba(146,179,204,1);    
}
.start-options-container.compressed {
    display: none;
}
.start-options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 80px 180px;
}
.start-options-container h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #FFF;
    text-shadow: 2px 2px 2px #7698AF;
}
.start-option-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.start-option-row div {
    height: 300px;
}
.start-option-col {
    background-color: white;
    margin: 10px 40px 40px;
    flex: 1 50%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #7698AF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-option-col h3 {
    font-size: 36px;
    font-weight: 600;
}
.start-option-col button {
    font-size: 15px;
    padding: 18px;
    border-radius: 5px;
    border-style: none;
    transition: 0.3s;
    color: white;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(184, 160, 81, 0.5);
    background-color: rgb(240,190,25);
    transition: 0.3s;
}
.start-option-col button:hover {
    text-shadow: 1px 1px 2px rgb(52, 80, 133, 0.5);
    background-color: rgb(59,111,206);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.start-option-col img {
    max-height: 200px;
}
@media screen and (min-width: 0px) and (max-width: 869px) {
    div.start-options-container {
        display: none;
    }
    div.start-options-container.compressed {
        display: block;
        padding: 40px 10%;
    }
    div.start-options-container.compressed h3 {
        margin-top: 10px;
    }
    div.start-option-row {
        flex-direction: column;
        align-items: center;
    }
    div.start-option-col {
        width: 100%;
        max-width: 400px;
    }
}
@media screen and (min-width: 870px) and (max-width: 959px) {
    div.start-options-container {
        padding: 40px 5%;
    }
}
@media screen and (min-width: 960px) and (max-width: 1029px) {
    div.start-options-container {
        padding: 50px 10%;
    }
}
@media screen and (min-width: 1030px) and (max-width: 1149px) {
    div.start-options-container {
        padding: 60px 10%;
    }
}
@media screen and (min-width: 1150px) {
    div.start-options-container {
        padding: 100px 5%;
    }
    div.start-option-col {
        width: 500px;
    }
    div.start-option-row {
        max-width: 1500px;
        margin: 0 auto;
    }
}