/*########### Lecture Nav Bar#################*/

i{
    border:solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0 2px 0;
}

i:hover{
    border:solid black;
    border-width: 0 3px 3px 0;
}
.downArrow{
    text-align:center;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.upArrow{
    transform: rotate(-135deg);
    -webkit-transform:rotate(-135deg);
}

/* Static sidebar */
.lectureBackground {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lectureSidebarWrapper {
    top: 93px;
    left: 20px;
    position: fixed;
}
.lectureSidebar {
    top: 93px;
    left: 20px;
    width: 280px;
    height: 620px;
    z-index: 1000; /* Stay on top */
    background-color: #FFF;  
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px 30px;
    border-radius: 10px; 
    box-shadow: rgba(106,136,145,0.15) 0 6px 24px;
    position: sticky;
    position: -webkit-sticky;
}
.lectureSidebar h3, .lectureSidebar p, .lectureSidebar a {
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
    margin-top: 0;
}
.lectureSidebar p, a, li {
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 1.3;
}
.lectureSidebar a:link, .lectureSidebar a:visited {
    color: black;
    transition: .3s;
    text-decoration: underline 1px;
}
.lectureSidebar a:hover {
    background-color: #dae0e6;
    cursor: pointer;
    transition: .3s;
}
/* End static sidebar */

/*########### End Lecture Nav Bar#################*/