/*########### Lecture homepage#######*/
div.lectureIntroWrap{
    background-color:#6291a5;
    padding:0;
    margin:0;
    width:100%;
    padding:4% 4% 4% 10%;
    color:white;
}

div.lectureIntroWrap img{
    filter:blur(0.04rem) opacity(0.8);
    border-radius:10px;
    width:85%;
    height:auto;
    text-align:center;
    box-shadow:2px 2px 5px #798a8f;
}

div.lectureIntroWrap p{
    padding-right:20%;
    font-size:20px;
}

div.lectureCardWrap{
    padding:5% 5% 5% 5%;
    background-color:#f1f1f1;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 0.75fr;
    grid-gap: 2em;
    text-align:center;
    text-decoration:none;
}

div.lectureCard{
    background-color:#6291a5;
    mix-blend-mode:multiply;
    background-blend-mode:multiply;
    filter:grayscale(80%);
    transition-duration:0.2s;
    box-shadow:5px 5px 10px #dedede;
}

div.lectureCard.orange{
    background-color:#fc9968;
}

div.lectureCard:hover{
    filter:grayscale(0);
}

div.lectureCard a{
    text-decoration: none;
    color:white;
}

div.lectureCard img{
    width:100%;
}

div.lectureCard h4, div.lectureCard p{
    padding:4% 2%;
    margin: 1% 0;
}

@media screen and (max-width: 499px) {
    div.lectureCardWrap {
       grid-template-columns: 1fr; 
    }
}
@media screen and (min-width: 500px) and (max-width: 699px) {
    div.lectureCardWrap {
       grid-template-columns: 1fr 1fr; 
    }
}
@media screen and (min-width:700px) and (max-width: 999px) {
    div.lectureCardWrap {
       grid-template-columns: 1fr 1fr 1fr; 
    }
}