/*####### Practice Questions #########*/
section.practiceQuestionBody{
    background-color:#dae0e6;
    padding-top:1%;
    font-family: 'PT Serif', serif;
}

section.practiceQuestionBody h1{
    text-align:center;
}

div.questionBoxWrapper{
}
div.questionBox{
    background-color:white;
    text-align:center;
    margin:10px auto;
    max-width:700px;
    box-shadow: 4px 4px 13px -1px rgba(214,210,214,1);
    padding: 10px;
}

div.questionBox p{
    font-size:18px;
    text-align:left;
}

div.questionBox h1{
    text-align:left;
    font-size:20px;
}

div.questionBox ul{
    padding:0;
    margin:0;
}

div.questionBox ul li{
    list-style:none;
    background-color:white;
    border-radius:5px;
    margin:15px 0;
    text-align:left;
    padding:0 5px 0 0;
    line-height:20px;
}

div.questionBox ul li a:hover{
    background-color:#bef5f7;
}

div.questionBox ul li a{
    border-radius:4px;
    text-decoration:none;
    color:black;
    background-Color:aqua;
    width:100%;
    padding:3px;
    
    box-shadow: 2px 2px 2px -1px rgba(214,210,214,1), -1px -1px 2px -1px rgba(214,210,214,1);
    
}

.questionSolutionButton{
    font-size:15px;
    border-style:solid;
    border-width:0 0 1px 0;
    border-color:grey;
    border-radius:2px;
    margin:0;
    padding:0;
    display:block;
    cursor:pointer;
    width:100%
}

.questionSolutionButton:hover{
    background-color:aliceblue;
}

.questionSolution{
    display:none;
    font-size:15px;
}

.questionSolution.visible{
    display:block;
}

/* Styling radio buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: rgb(59,111,206);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*####### End Practice Questions #########*/