/*########## Defaults ###############*/
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
nav, header, footer { 
    display: block;
}
body {
    line-height: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
}
p, a, li, button, dt, dl, ul {
    font-family: 'Lato', 'Montserrat', sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}
h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
article p{
    font-size:20px;
    padding: 0px; /*we don't a margin, use padding. a margin would try to force space onto the adjacent column.*/
}
.container {
    width: 100%;  /*ensure that the content fills up the entire page */
    margin: auto; /*even distribution of space on the left and right side, keeping everything centered */
}
.row {
    width:100%;
    display:flex; /* latches onto all elements inside that have flex on it */
    flex-wrap:wrap; /* as everything is flexing and getting smaller, wrap it all around underneath (only works when we have display flex)*/
    align-items: center; /* takes all items in flex container and centers the content*/
}
.row::after{
    display:table; /* allows us to setup clear settings*/
    clear:both; /* clears any floats to the right or the left*/
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


* {/*universal selector*/  
    box-sizing: border-box; /*removes the feature that additional padding and margin increases the size of an object*/
}
/*############# End Defaults ###########*/


/*############# Start Hero ###########*/
@-webkit-keyframes blink { 
    0% { border-color: black; bottom:0%;} 
    25% { border-color: black; bottom:0%;} 
   50% { border-color: gold; bottom:2%;} 
    75% { border-color: black; bottom:0%;}
    100% { border-color: black; bottom:0%;} 
}

.bottom-row{
        text-align:center;
        width:100%;
        height:3em;
        position:absolute;
        bottom:0%;
        background-color:white;
        animation: blink 2s ease infinite 0s;
        -webkit-animation: blink 2s ease infinite 0s;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
    z-index:1;
    }

.bottom-row.stop{
        text-align:center;
        width:100%;
        height:3em;
        position:absolute;
        background-color:white;
        border-color:white;
        animation: none;
        -webkit-animation: none;
    }



.down-arrow-hero{ 
    border-right:0.2em solid;
    border-bottom:0.2em solid;
    border-color:inherit;
    height:2em;
    width:2em;
    transform:rotate(45deg);
    display:inline-block;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}


/*########### OG Nav Bar Style #################*/
.currentLink{
    border-bottom: solid 1px;
}
nav ul {
    background-color:inherit;
    overflow: hidden;
    margin:0;
    padding:0;
    display:flex;
}
/*####### End OG Nav Bar Style ########*/



/*####### Custom style ########*/

article.aboutSection {
    padding:15px;
}

#section-1-gradient {
    background: white; /*default color for browsers not supporting gradients */
}

div.leftSide-col {
    margin-left: 30%; /* better to use a percentage than exact pixels because we have flex*/    
}

div.leftSide-col img{
    mix-blend-mode:multiply;
}
div.rightSide-col {
    margin-left: 15%; /* better to use a percentage than exact pixels because we have flex*/
    
}
h1.large{ /* header tag has margins around it, paragrag and labels do not*/
    color:BLACK;
    font-size:45px;
    margin:0;
    line-height:60px; /* creates space between the text, better to do this than using margin with text*/
}
h1.section2Header{
    font-size: 65px;
    text-align:center;
}
form h2{
    color:grey;
}
button.journey{
    display:block;
    margin:auto;
}
.container.bottom{
    background-color:#96858f;
}
div.groupPhoto img{
    max-width:100%;
    max-height: 100%;
    width:auto;
    height:auto;
    display:block;
    margin:auto;
    padding:0 5px;
}
div.groupPhoto p{
    font-size:16px;
    text-align:center;
}
.videoContainer iframe{
    width:100%;
    max-width:560px;
    height:315px;
    margin:auto;
    padding-right:10px;
}

/*####### Mobile #########*/

@media screen and (max-width: 760px) { /*680 previously */
    div.gridWrapper{
        grid-template-columns:auto;
        grid-template-rows:auto;
        grid-gap:5%;
        justify-items:center;
    }
    
    div.aboutSection{
        text-align:center;
        margin:0;
        padding:2%;
        width:100%;
    }

    div.aboutSection h2{
        padding:1em 0;
        margin:0;
    }

    div.aboutSection img{
        height:auto;
        width:100%;
    }
    
    div.aboutSection .row .col-6:nth-child(2) p{
        padding: 2% 0;
        margin:0;
    }
    
    
    
    section.contributeWrapper p{
        width:90%;
    }
    section.contributeWrapper iframe{
        width:100%;
        height:75vh;
    }
    
    section.contributeWrapper{
        padding-bottom:10%;
    }
    
    .col-6, .col-4, .col-7, .col-5{
        width:100%;
        margin:0; 
    }
    
    div.mobileStack{
        width: 50%;
        display:block;
    }
    
    div.box {
        padding: 2px; /*reduce padding when we're on mobile*/
        display:block: /*make sure the boxes stack*/
    }

    div.leftSide-col,
    div.rightSide-col{ 
        margin: 8px; /*for mobile, put small amount of margin around all elements*/
        text-align:center;
    }
    
    input[type="text"] {
        width:350px;
    }
    .videoContainer{
        margin:auto;
    }
    
    .videoContainer iframe{ /*specifying iframe adjust the video itself, not just the div tag*/
        position:relative; /*need the mobile view to make it stay in the same spot, don't want ability to scroll sideways in mobile*/
        width:100%;
        margin:0; /*removers any extra margin created by the browser*/
        overflow:hidden; /*some browsers puit a scroll bar, we don't want that, just hide the content instead*/
        padding:0;
    }
    
    h1.section2Header{
        font-size:50px;
    }
    
    article p{
        font-size:20px;
    }
    
    div.groupPhoto{
        text-align:center;
    }
    
    div.groupPhoto img{
        max-height:100%;
        max-width:100%;
        width:auto;
        height:auto;
        margin:auto; 
    }
    
    div.leftSide-col img{
        width:100%;
        height:auto;
    }
    
    h1.large{
        text-align:center;
        font-size:30px;
        line-height:34px;
        padding:3px
    }
    
    div.box{
        text-align:center;
        height:auto;
        margin:5px 2%;
        max-width:700px;
    }
    
    div.questionBox{
        margin: auto;
    }
    div.questionBoxWrapper{
        margin:auto;
        padding:10px;
        text-align:center;
    }
} /* end of media query*/


/* NAV BAR */
.top-nav-container {
    padding: 5px 40px;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    box-shadow: rgba(106,136,145,0.15) 0 6px 24px;
}
.home-logo img {
    max-height: 60px;
}
ul.menu-nav li a:link, ul.menu-nav a:visited {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 2px 4px;
}
ul.menu-nav {
    padding: 0;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
}
ul.menu-nav .menu-item{
    display: inline-block;
    padding: 0 12px;
}
.dropdownIcon {
    display: none;
    font-size: 24px;
    font-weight: bold;
}

.dropdownIcon a{
    font-size:inherit;
}
ul.menu-nav li a:hover {
/*    background-color:#cdf1ed;*/
    background-color:#dae0e6;
    color: #161f2e;
    text-decoration: none;
    border-bottom: solid 1px;
    transition: .3s;
    border-right-color:white;
    border-left-color:white;
}
.front-page .menu-item a:hover {
    background: none;
    color:#f9f9f9;
    border-right-color:white;
    border-left-color:white;
}

/* Start Lecture Dropdown */
.down-arrow{
    border-right:2px solid black;
    border-bottom:2px solid black;
    height:0.8em;
    width:0.8em;
    transform:rotate(45deg);
    display:inline-block;
    position:absolute;
    bottom:30%;
    left:90%;
    border-right-color:inherit;
    border-bottom-color:inherit;
}


.lecture-dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
    transition: .3s;
}
.lecture-dropdown-container {
    display: none;
    position: absolute;
    min-width: 11em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 20px;
    left: -25px;
    transition: .3s;
}

.front-page .lecture-dropdown-container {
    top: auto;
}
.lecture-dropdown-content {
    padding: 5px 10px;
}
.lecture-dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    margin: 10px 5px;
    transition: .3s;
}
.lecture-dropdown-content li {
    list-style-type: none;
}
ul.lecture-dropdown-content li a:hover {
    background-color: #f1f1f1;
    border: none;
    color: black;
    transition: .3s;
}
.lecture-dropdown:hover .lecture-dropdown-container {
    display: block;
    transition: .3s;
}
/* End Lecture Dropdown */

@media screen and (max-width: 499px) {
    .home-logo img {
        max-height: 40px;
        margin: 10px;
    }
    .dropdownIcon {
/*        margin-top: 5px;*/
    }
}
@media screen and (max-width: 899px) {
    .front-page .top-nav-container {
/*        background: #ffffff;*/
        border: 0px;
        z-index: 999;
    }
    .top-nav-container {
        position: fixed;
        background: #ffffff;
        width: 100%;
        z-index: 1;
        margin: 0;
        padding: 5px;
    }
    .hero, .main-content {
        margin-top: 73px;
    }
    
    .top-nav-container.responsive {
        display: block;
        background: white;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
        margin: 0;
        padding: 5px;
    }
    .home-logo {
        text-align: center;
        margin: 0 auto;
    }
    ul.menu-nav .dropdownIcon {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
    }
    ul.menu-nav .menu-item {
        display: none;
    }
    ul.menu-nav.responsive {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100vw;
    }
    ul.menu-nav.responsive .menu-item {
        display: block;
        margin: 5px;
    }
    ul.menu-nav.responsive .menu-item a {
        font-size: 24px;
        line-height: 80px;
    }
    ul.menu-nav.responsive > div.main-menu-container {
        margin-top: 50%;
    }
    .lecture-dropdown:hover .lecture-dropdown-container {
        display: none;
    }
    ul.menu-nav li a:hover {
        color: #4266a8;
        transition: .3s;
    }
}

/* ###### FOOTER ###### */
footer.footingMain{
    background-color: rgb(20,33,64);
    padding: 15px 10%;
    text-align: center;
    color: #fff;
    display: block;
    flex: 1 0 auto;
    height: 200px;
}
.footingMain h1, .footingMain h2, .footingMain h3, .footingMain p, .footingMain a, .footingMain li {
    font-family: 'Montserrat', sans-serif;
}
footer.footingMain .footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-row .mobileStack {
    min-width: 200px;
    min-height: 150px;
}
footer.footingMain ul{
    list-style:none;
    text-align:left;
    padding-left:0;
}
footer.footingMain li{    
    text-align: center;
}
footer.footingMain ul li a{
    text-align: center;
    color:#fff;
    font-size: 18px;
    line-height: 1.8;
    text-decoration: underline;
    font-weight: 500;
}
footer.footingMain h1{
    font-size: 36px;
    font-weight: 700;
}
.copyright {
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:0px;
    font-size: 12px;
}
.footerLogo svg {
    margin: 0 10px;
}
@media screen and (max-width: 899px) {
    footer.footingMain{
        height:auto;
    }
    footer.footingMain .footer-row {
        flex-direction: column;
    }
    .footer-row .mobileStack {
        min-width: 100%;
        min-height: auto;
        margin-bottom: 0px;
    }
    h1.row-heading {
        margin: 0;
    }
    .footerLogo h1 {
        margin-bottom: 5px;
    }
    .footerLogo a {
        margin-bottom: 20px;
    }
    .footerLogo {
        padding: 10px 0 5px;
    }
    .copyright {
        margin-top: 0px;
    }
}